*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'pop-reg';
    src: url(../fonts/poppins.regular.ttf);
}

@font-face {
    font-family: 'pop-semi';
    src: url(../fonts/poppins.semibold.ttf);
}
@font-face {
    font-family: 'pop-black';
    src: url(../fonts/poppins.black.ttf);
}
@font-face {
    font-family: 'lato-reg';
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'lato-black';
    src: url(../fonts/Lato-Black.ttf);
}
@font-face {
    font-family: 'lato-bold';
    src: url(../fonts/Lato-Bold.ttf);
}
body{
    background: white;
    font-family: 'lato-reg';
}
/* gene */

/* nav bar */
.navbar .content{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    font-family: 'pop-reg';
}
.navbar .content ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}
.navbar .content ul .bold{
    color: #00008b;
    font-family: 'pop-semi';
}
.navbar .content ul a{
    text-decoration:  none;
    color: black;
}

.navbar .content .questions{
    display: flex;
    gap: 20px;
}
.navbar .content .button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.navbar .content .button a{
    font-size: 18px;
    width: 40px;
    height: 40px;
    background: #00008b;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}
.navbar .decor{
    width: 100%;
    height: 5px;
    background: #87cdea;
}

.navbar .sidebarbutton{
    background: #00008b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}
.navbar .sidebarbutton .hamburg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
}
.navbar .sidebarbutton .hamburg span{
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 5px;
}
.navbar .sidebarbutton .hamburg span:nth-child(2){
    width: 25px;
    height: 4px;
    background: white;
    border-radius: 5px;
}
.navbar .sidebarbutton .hamburg span:nth-child(3){
    width: 20px;
    height: 4px;
    background: white;
    border-radius: 5px;
}
@media screen and (max-width: 1000px) {
    .navbar .content ul{
        display: none;
    }
    .navbar .sidebarbutton{
        display: flex;
    }
    .navbar .content .questions a, .navbar .content .questions p{
        font-size: 14px;
    }
    .navbar .content .questions .button a{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 500px) {
    .navbar .content .questions{
        display: none;
    }
    .navbar .content{
        padding: 20px 15px;
    }
    .navbar .content img{
        width: 60px;
    }
}

/* it solution */
.it-solution{
    position: relative;
    overflow: hidden;
}
.it-solution .content{
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}
.it-solution .it-solution-con{
    height: 90vh;
}
.it-solution .it-solution-con > img{
    width: 100%;
    position: absolute;
}
.it-solution .content img{
    max-width: 380px;
}
.it-solution .text{
    color: white;
    position: relative;
}
.it-solution .text p:nth-child(1){
    font-family: 'lato-reg';
    font-size: 28px;
    margin-bottom: 10px;
}
.it-solution .text p:nth-child(2){
    font-family: 'pop-semi';
    font-size: 32px;
    max-width: 450px;
    margin-bottom: 10px;
    line-height: 1.2;
}
.it-solution .text p:nth-child(3){
    font-family: 'lato-reg';
    font-size: 21px;
    max-width: 400px;
}
.it-solution .text a{
    background: #a7cbe1;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    color: black;
    font-family: 'lato-bold';
    font-size: 18px;
}
@media screen and (max-width: 1000px) {
    .it-solution .content img{
        max-width: 320px;
    }
    .it-solution .content{
        flex-direction: column-reverse;
    }
    .it-solution .text{
        color: white;
        position: relative;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .it-solution .it-solution-con > img{
        width: 800px;
        height: 400px;
        position: absolute;
    }
    .it-solution .content img{
        max-width: 350px;
    }
}
@media screen and (max-width: 500px) {
    .it-solution .it-solution-con > img{
        width: 1000px;
        height: 650px;
        position: absolute;
    }
    .it-solution .content img{
        max-width: 350px;
    }
    .it-solution .text p:nth-child(1){
        font-size: 18px;
        margin-bottom: 10px;
    }
    .it-solution .text p:nth-child(2){
        font-size: 24px;
        max-width: 380px;
        margin-bottom: 10px;
        line-height: 1.3;
        text-align: center;
    }
    .it-solution .text p:nth-child(3){
        font-family: 'lato-reg';
        font-size: 16px;
        max-width: 300px;
    }
    .it-solution .text{
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .it-solution .content img{
        max-width: 250px;
    }
    .it-solution .content{
        margin-top: -60px;
    }
}
